body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top right, #7148cf 50%, #6d80eb 100%);
}

.header {
  font-size: 6em;
  font-weight: 900;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: -0.01em;
  line-height: 1.5em;
  text-align: center;
  margin: 32px;
  color: #fff;
  text-shadow: 8px 8px rgba(0, 0, 0, 0.637);
}

.pages-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.pages-container > div {
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  line-height: 75px;
  font-size: 25px;
  margin: 5px;
}

.pages-item {
  flex-direction: column;
}

.draggable {
  width: 165px;
  height: 255px;
  cursor: move;
  display: block;
}

.page-container {
  flex-direction: column;
  align-items: center;
}

.page-number {
  font-size: 20px;
  margin: 0px;
  line-height: 32px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.614);
}

.page-box {
  width: 165px;
  height: 255px;
  display: block;
  margin: 5px;
  border: 2px dashed;
}

.create-sheet {
  width: 165px;
  height: 255px;
}

.create-button {
  background-color: #04aa6d; /* Green */
  border: none;
  border-radius: 2px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.614);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.create-button:hover {
  background-color: #05a067; /* Green */
  border: none;
  border-radius: 2px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.614);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
